/* Universal CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-blue: #192647;
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--theme-white);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* home page css  */

/* Header CSS */
.header{
    position: fixed;
    top: 0;
    background-color: var(--theme-white);
    width: 100%;
    z-index: 999;
    padding: 30px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
}

.hamburger{
    list-style-type: none;
    display: none;
}

.unorderlist {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-blue);
    text-transform: uppercase;
    font-size: 14px;
}



.heading {
    color: var(--theme-blue);
    font-size: 35px;
    text-transform: capitalize;
    font-family: var(--font-pay);
    font-weight: 300;
}

.heading-1{
    color: var(--theme-blue);
    font-size: 35px;
    text-transform: capitalize;
    font-family: var(--font-pay);
    font-weight: 300;
    display: none;
}

.header-text {
    color: var(--theme-blue);
}

.heading-span {
    color: var(--theme-blue);
    font-family: var(--font-family);
    font-size: 13px;
}


.options {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-anchor{
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-blue);
}

/* hero section  */

.hero-section img {
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.hero-section .hero-inner {
    position: relative;
    z-index: 1;
}

.hero-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white);
}

.hero-text {
    font-family: var(--font-family);
    color: var(--theme-white);
}


.hero-text span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 7px;
    color: #EFEFEF;
}

.hero-text strong {
    font-size: 60px;
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: 13px;
    margin-top: 25px;
}

.what-button {
    background-color: var(--theme-blue);
    border: 1px solid var(--theme-blue);
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: #F8F8F8;
}

.what-button:hover{
    background-color: #2b3f71;
}

.case-button {
    border: 1px solid var(--theme-white);
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: #F8F8F8;
}

.case-button:hover{
    background-color:#F8F8F8;
    color: #192647;
}

/* Primary section */

.primary{
    background-color: var(--theme-blue);
}

.primary-container{
    max-width: 1314px;
    margin:0 auto;
}

.primary-inner{
    text-align: center;
    width: 100%;
    padding-top:110px ;
    padding-bottom:100px ;
}

.primary-heading{
    color: #EFEFEF;
    font-size: 100px;
    font-weight: 400;
}

.primary-para{
    color: #F8F8F8;
    font-size: 55px;
    font-weight: 300;
}

.primary-head{
    color: grey;
    margin-top: 60px;
}

/* secondary section  */

.secondary-inner{
    padding-top: 70px;
    padding-bottom: 70px;
}
.secondary{
    background-color: var(--theme-white);
}

.secondary-text{
    text-align: left;
}

.secondary-header{
    font-size: 14px;
    color: #aba6a6;
    font-family: var(--font-family);
    font-weight: 500;
}

.anchor{
    margin-top: 40px;
}

.secondary-para strong{
    font-size: 45px;
    color: var(--theme-blue);
    font-family: var(--font-family);
    font-weight: 400;
}

.secondary-para span{
    font-size: 20px;
    color: #696868;
    font-family: var(--font-family);
    font-weight: 400;
}
.secondary-para{
    padding-top: 30px;
}

.secondary-anchor{
    font-size: 22px;
    color: #192647;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.secondary-anchor:hover{
    color: #2d437d;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  

  .dot {
    cursor: pointer;
    height: 1px;
    width: 38px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* accordian section  */

.meditation-inner {
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    flex: 1;
    padding-right: 20px;

}

.meditation-text {
   align-items: center;
   padding-left: 90px;
}

.right-section {
    flex: 1;
}



.meditation-head {
    font-size: 12px;
    color: #b6b5b5;
    text-transform: uppercase;
    font-weight: 400;
}

.bold-text {
    padding-top: 65px;
    font-size: 45px;
    font-weight: 300;
    color: #192647;
    border-bottom: 1px solid #cbcbcf;
    padding-bottom: 20px;
}

.meditation-heading {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between; 
    background-color:#F8F8F8 ;
    color: #192647;
}

.meditation{
    background-color: var(--theme-white);
}

.svg-icon {
    font-size: 22px;
    color: #192647;
    font-weight: 400;
    border: 1px solid #afb0b2;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    transition: transform 0.3s ease;
}

.svg-icon.rotated {
    transform: rotate(180deg);
}

.mediation-span {
    font-size: 12px;
    font-weight: 400;
    color: #9c9d9f;
}

.meditation-para {
    padding-top: 20px;
    display: none; 
    background-color:#F8F8F8 ;
}


.meditation-heading {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meditation-para {
    display: none; 
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.mediation-span {
    font-size: 14px;
    color: #666;
}

.meditation-para.open {
    display: block;
    max-height: 1000px;
}


.right-section img {
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.faqs{
    border-bottom: 1px solid #cbcbcf;
    padding-top: 10px;
    padding-bottom: 10px;
}

 /* card section  */

.card-heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.card-inner{
    padding-top: 80px;
    padding-bottom: 100px;
}

.card-head{
    font-size: 14px;
    color: var(--theme-blue);
    font-family: var(--font-family);
    padding-top: 10px;
}

.card-anchor{
    font-size: 16px;
    color: #192647;
    font-weight: 500;
    border: 1px solid #cbcbcf;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px ;
    white-space: none;
    box-sizing: border-box;
}

.card-anchor:hover{
    background-color: var(--theme-blue);
    color: var(--theme-white);
}

.card-main{
    padding-top: 25px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 50px;
}

.cards{
    border: 1px solid #EFEFEF;
    padding-bottom: 20px;
    background-color: var(--theme-white);
    width: 100%;
}

.card-img img{
    width: 100%;
}

.card-text{
    background-color: var(--theme-white);
    padding-top: 25px;
    padding-left: 35px;
}

.card-icon {
    font-size: 22px;
    margin-top: 20px;
    color: #192647;
    font-weight: 400;
    border: 1px solid var(--theme-blue);
    border-radius: 50px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 6px;
}

.card-icon:hover{
    border:1px solid #949494 ;
    color: #2d437d;
}

.card-header{
    color: #969494;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-family);
}

.card-para{
    color: var(--theme-blue);
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}

.card{
    background-color: var(--theme-white);
}

/* third party section  */

.third-party-inner{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;
}

.third-party{
    width: 100%;
    background-color: #ECEDED;
}

.third-party-para{
    font-size: 45px;
    color: var(--theme-blue);
    font-weight: 300;
    padding-bottom: 30px;
}


.third-party-anchor{
    font-size: 16px;
    color: var(--theme-white);
    font-weight: 500;
    border: 1px solid var(--theme-blue);
    background-color: var(--theme-blue);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px ;
    white-space: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.third-party-anchor:hover{
    background-color: var(--theme-white);
    color: var(--theme-blue);
}

/* blank section  */
 
.blank-inner{
    padding-top: 120px;
    padding-bottom: 210px;
}


/* footer section  */

.footer{
    position: fixed;
    bottom: 0;
    background-color: var(--theme-blue);
    width: 100%;
    z-index: -1;
}

.footer-inner{
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.footer-anchor{
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-white);
}

.footer-unorderlist{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--theme-white);
    padding-top: 110px;
}

.footer-icon{
    background-color: var(--theme-blue);
}

.secondary-list{
    list-style-type: none;
}

.right-footer{
    display: flex;  
    gap: 120px;
    padding-bottom: 30px;
}

.ternory-list{
    list-style-type: none;
}

.forth-list{
    list-style-type: none;
}

.footer-secondary{
    padding-top: 35px;
}

.ternory-list-head{
    color: var(--theme-white);
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 500;
}

.ternory-list-para{
    color: #8d8989;
    font-size: 14px;
}

.ternory-list-span{
    color:#8d8989 ;
    font-size: 10px;
    padding-top: 20px;
}

.ternory-list-num{
    color: #cbcbcf;
    font-size: 14px;
    padding-top: 20px;
}

.forth-list-head{
    color: var(--theme-white);
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 500;
}

.forth-list-para{
    color: #8d8989;
    font-size: 14px;
}

.forth-list-span{
    color:#8d8989 ;
    font-size: 10px;
    padding-top: 20px;
}

.forth-list-num{
    color: #cbcbcf;
    font-size: 14px;
    padding-top: 20px;
}


/* what is meditation css  */

/* practise section  */

.practise-inner{
    padding-top: 200px;
    padding-bottom: 100px;
}

.practise{
    background-color: var(--theme-white);
}

.practise-head{
    font-size: 45px;
    font-weight: 400;
    color: var(--theme-blue);
    font-family: var(--font-family);
}

.practise-para{
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #8e8f91;
}

.process-btn {
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 18px;
    text-transform: uppercase;
    background-color: var(--theme-blue);
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-white);
}

.process-btn:hover{
    background-color:#2b3f71;
    color: var(--theme-white);
}

.touch-btn {
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 18px;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-blue);
}

.touch-btn:hover{
    background-color:#F8F8F8;
    color: #192647;
}

/* <!-- hero section --> */

.about-inner {
    background-color: var(--theme-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-left-section {
    flex: 1; 
}

.about{
  background-color: var(--theme-white);
}

.right-section-text {
    align-items: center;
}

.about-right-section {
    flex: 1;
    padding-left: 80px; 
    padding-right: 80px;
}

.right-section-head{
    color: #b9b4b4;
    font-size: 14px;
    font-weight: 500;
    padding-top: 100px;
}

.right-section-heading{
    font-size: 35px;
    font-weight:300;
    padding-top: 30px;
    color: var(--theme-white);
}
    
.about-right-para{
    padding-top: 30px;
    color: #bdbbbb;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 30px;
}

.about-left-section{
    flex: 1;
}

.about-left-section img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.touch-button{
   font-size: 22px;
   color: #cbcbcf;
   font-weight: 400;
   display: flex;
   align-items: center;
   flex-direction: row;
   padding-bottom: 100px;
}

.touch-button:hover{
    color: #99999d;
}





/* accordian section  */

.accordian-inner {
    background-color: #F8F8F8;
    width: 100%;
    text-align: left;
    padding-top: 180px;
    padding-left: 200px;
    padding-bottom:180px ;
    padding-right: 200px;
}


.accordian-text {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #9c9d9f;
    border-bottom: 1px solid #c7c2c2;
    padding-bottom: 20px;
}

.accordian-header{
    font-size:45px ;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #192647;
}


.accordian-heading {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.accordian{
    background-color: var(--theme-white);
    padding-bottom: 100px;
}

.accordian-icon {
    border: 1px solid #c7c2c2;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.accordian-span {
    font-size: 16px;
    font-weight: 400;
    color: #9c9d9f;
}

.accordian-para {
    padding-top: 20px;
    display: none; 
}

.accordian-para.active {
    display: block;
    position: relative;
}


.accordian-faqs{
    border-bottom: 1px solid #cbcbcf;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordian-para {
    padding-top: 20px;
    display: none; 
    background-color:#F8F8F8 ;
}


.accordian-heading {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordian-para {
    display: none; 
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.accordian-span {
    font-size: 14px;
    color: #666;
}

.accordian-para.open {
    display: block;
    max-height: 1000px;
}

