/* Universal CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #ffffff;
    --theme-blue: #192647;
    --font-family: "Montserrat", serif;
    --font-pay:"Playfair Display", serif;
}

body {
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* Header CSS */
.header{
    position: fixed;
    top: 0;
    background-color: var(--theme-white);
    width: 100%;
    z-index: 999;
    padding: 10px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger{
    list-style-type: none;
    display: none;
}

.unorderlist {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-blue);
    text-transform: uppercase;
    font-size: 14px;
}



.heading {
    color: var(--theme-blue);
    font-size: 35px;
    text-transform: capitalize;
    font-family: var(--font-pay);
    font-weight: 300;
}

.heading-1{
    color: var(--theme-blue);
    font-size: 35px;
    text-transform: capitalize;
    font-family: var(--font-pay);
    font-weight: 300;
    display: none;
}

.header-text {
    color: var(--theme-blue);
}

.heading-span {
    color: var(--theme-blue);
    font-family: var(--font-family);
    font-size: 13px;
}


.options {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-anchor{
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--theme-blue);
}

/* hero section  */

.hero-section img{
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.hero-section .hero-inner{
  
   position: relative;
   z-index: 1;
   padding: 180px 0;
}

.hero-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

.hero-text{
    font-family: var(--font-family);
    color: var(--theme-white);
}

.hero-text span{
    font-size: 16px;
    font-weight: 500;
    margin-left: 7px;
    color: #EFEFEF;
}

.hero-text strong{
    font-size: 60px;
    font-weight: 400;
}

.buttons{
    display: flex;
    gap: 13px;
    margin-top: 25px;
}

.what-button{
    background-color: var(--theme-blue);
    border: 1px solid var(--theme-blue);
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: #F8F8F8;
}

.case-button{
    border: 1px solid var(--theme-white);
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: #F8F8F8;
}

/* Primary section */

.primary{
    background-color: var(--theme-blue);
}

.primary-container{
    max-width: 1314px;
    margin:0 auto;
}

.primary-inner{
    text-align: center;
    width: 100%;
    padding-top:110px ;
    padding-bottom:100px ;
}

.primary-heading{
    color: #EFEFEF;
    font-size: 100px;
    font-weight: 400;
}

.primary-para{
    color: #F8F8F8;
    font-size: 55px;
    font-weight: 300;
}

.primary-head{
    color: grey;
    margin-top: 60px;
}

/* secondary section  */

.secondary-inner{
    padding-top: 70px;
}

.secondary-text{
    text-align: left;
    padding-left: 140px;
}

.secondary-header{
    font-size: 14px;
    color: #aba6a6;
    font-family: var(--font-family);
    font-weight: 500;
}

.anchor{
    margin-top: 40px;
    padding-left: 140px;
}

.secondary-para strong{
    font-size: 45px;
    color: var(--theme-blue);
    font-family: var(--font-family);
    font-weight: 400;
}

.secondary-para span{
    font-size: 20px;
    color: #696868;
    font-family: var(--font-family);
    font-weight: 400;
}
.secondary-para{
    padding-top: 30px;
}

.secondary-anchor{
    font-size: 22px;
    color: #192647;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}


svg.icon.icon-tabler.icons-tabler-outline.icon-tabler-arrow-right {
    padding-top: 10px;
}

/* third section  */

.meditation-inner{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    margin-top: 80px;
    width: 100%;
}



.meditation-text{
    text-align: left;
    padding-left: 140px;
    padding-top: 70px;
}

.meditation-head{
    font-size: 12px;
    color: #b6b5b5;
    text-transform: uppercase;
    font-weight: 400;
}


.bold-text{
    padding-top: 65px;
    font-size: 45px;
    font-weight: 300;
    color: #192647;
}

.meditation-heading{
    padding-top: 40px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.svg-icon{
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.mediation-span{
    font-size: 12px;
    font-weight: 400;
    color: #9c9d9f;
}

.meditation-para{
    padding-top: 20px;
}

.border-div{
    border-bottom: 1px solid #b8b3b3;
    padding-top: 30px;
    display: block;
}

.meditation-para{
    display: none;
}


.meditation-para.active {
    display: block;
    position: absolute;
    text-align: center;
    align-items: center;
    
}

.faqs{
    border-bottom: 1px solid #b8b3b3;   
}

.meditation-heading{
    padding-bottom: 20px;
}

.right-section{
object-fit: cover;
}
